<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">
<head th:include="include/layout :: htmlhead"><title>Pokecoin</title></head>
<body>
<nav th:replace="include/layout :: navbar"></nav>

<main>
    <div class="container py-4">
        <div th:if="${mensagem}" th:text="${mensagem}" class="alert alert-primary alert-dismissible fade show mt-3">
        </div>
        <img src="#" alt="pokecoin" th:src="@{/assets/images/pokecoin.png}"/>
        <h1>Home</h1>
        <div class="alert alert-primary mt-3">
            <h4>Valor da carteira: $ <span th:text="${wallet}"></span></h4>
        </div>
        <h3>Seus pokemons</h3>
        <table class="table table-hover">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Imagem</th>
                <th scope="col">Nome</th>
                <th scope="col">Base XP</th>
                <th scope="col">Valor em USD</th>
                <th scope="col"></th>
            </tr>
            <th:block th:each="pokemon : ${pokemons}">
                <tr>
                    <td th:text="${pokemon.pokemon.id}"></td>
                    <td><img height="150" width="150" th:src="@{'https://img.pokemondb.net/sprites/home/normal/2x/avif/' + ${pokemon.pokemon.name} + '.avif'}" /></td>
                    <td th:text="${pokemon.pokemon.name}"></td>
                    <td th:text="${pokemon.pokemon.baseExperience}"></td>
                    <td th:text="${pokemon.price}"></td>
                    <td><a th:href="@{/pokemon/remove/{pokemonID}(pokemonID=${pokemon.pokemon.id})} ">Registrar venda</a></td>
                </tr>
            </th:block>
        </table>
    </div>
</main>
</body>
</html>